.container {
    height: 100vh;
    width: 80%;
    margin: auto;
}

html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    white-space: nowrap;
    background-color: #3f0238;
    padding: 1rem;
    height: 3rem;
  }
  h1 {
    display: inline-block;
    color: beige;
    font-size: 50px;
  }
  nav {
    display: inline-block;
  }
    ul {
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        }
  
    li  {
        display: inline;
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
        }

    li a {
        color: beige;
        width: 5em;
        height: 3rem;
        display: block;
        text-align: center;
        line-height: 3rem;
        text-decoration: none;
        }
        
    li a:hover {
        background-color:rgb(225, 182, 225);
        }

main {
    background-color: rgba(92, 11, 77, 0.8);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding-bottom: 10%;
   
}



section {
    padding-left: 3%;
    padding-top: 5rem;
    /* text-align: center; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

figure {
    float: left;
    margin: 0 1rem 1rem 0;
    /* border: 8px solid #3f0238; */
    background-color: #3f023800;
    padding: 1rem;
    margin-right: 10rem;
    display: flex;
    width: 100%;
}


h2 {
    color: bisque;
}


input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    padding-right: 10%;
    border: 1px rgb(72, 13, 22);
    background-color: rgba(96, 9, 67, 0.607);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color:bisque;
  }

  input[type=name], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(118, 13, 92, 0.972);
    background-color: rgba(96, 9, 67, 0.607);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color:bisque;
  }

  input[type=message]{
    width: 100%;
    padding: 12px;
    padding-bottom: 25%;
    border: 1px solid rgba(96, 9, 67, 0.607);
    background-color: rgba(96, 9, 67, 0.607);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 30px;
    resize: vertical;
    color:bisque;
  }
  
  input[type=submit] {
    background-color: #3f0238;
    color:bisque;
    padding: 12px 20px;
    border: 1px solid bisque;
    border-radius: 4px;
  }

  footer {
    display: flex;
    justify-content:center;
    align-items: center;
    width: auto;
    background-color: #3f0238;
    top: 50%;
  }

  article {
    color:bisque;
    font-size: 15px;
    padding-left: 3rem;
    text-align: center;

}


.map-responsive{
    overflow:hidden;
    margin-left: 8%;
    position:relative;
    width: 100%;
    height:100%;
    }
    .map-responsive iframe{
    left: 0;
    top:0;
    height:100%;
    width:100%;
    position:relative;  
    }